

<body>
    <div class="container mt-4">
        <!-- Advertisement Banner -->
        <div class="row mb-4">
            <div class="col-12">
                <img src="https://placehold.co/1200x300/png" class="img-fluid w-100" alt="Advertisement Banner">
            </div>
        </div>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg bg-light mt-4 mb-4" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <!-- additional nav items -->
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Now Showing Movies -->
        <div id="showing-movies"></div>
        <!-- Hidden element to track current page -->
        <span id="showing-page" data-page="1" style="display:none;"></span>
        <!-- Pagination container for Showing Movies -->
        <div id="showing-pagination"></div>

        <div class="row d-flex justify-content-center mt-3 mb-3">
            <div class="col-auto">
                <a asp-action="Showing" class="btn btn-warning fw-bold btn-lg px-5">More Movies</a>
            </div>
        </div>



        <!-- Upcoming Movies -->
        <div id="upcoming-movies" class="mt-5"></div>
        <span id="upcoming-page" data-page="1" style="display:none;"></span>
        <div id="upcoming-pagination"></div>

        <div class="row d-flex justify-content-center mt-3 mb-3">
            <div class="col-auto">
                <a asp-action="Upcomming" class="btn btn-warning fw-bold btn-lg px-5">More Movies</a>
            </div>
        </div>


        <!-- Coupon Movies (if applicable) -->
        <div id="coupon-movies" class="mt-5"></div>
        <span id="coupon-page" data-page="1" style="display:none;"></span>
        <div id="coupon-pagination"></div>



        <!-- Additional Advertisement Banner -->
        <div class="row mb-4">
            <div class="col-12">
                <img src="https://placehold.co/1200x300/png" class="img-fluid w-100" alt="Advertisement Banner">
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <!-- Make sure jQuery is loaded before your HomePage.js -->

    <script src="~/js/HomePage.js"></script>
}
