<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinema_System</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cinema_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1" data-bs-theme="dark" style="height: 80px;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/css/images/logo2.png" style="width:65px; height:45px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav mx-auto">
                        <li>
                            <a class="nav-link small-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link small-text" asp-area="" asp-controller="Order" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link small-text" asp-area="" asp-controller="Order" asp-action="Index">Discount</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link small-text" asp-area="" asp-controller="Order" asp-action="Index">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link small-text" asp-area="" asp-controller="Order" asp-action="Index">Policy</a>
                        </li>
                        <li class="nav-item">
                            <i class="fa-solid fa-cart-shopping"></i><a class="nav-link small-text" asp-area="Guest" asp-controller="Cart" asp-action="Index"></a>

                            
                        </li>
                      
                        @if (User.IsInRole("Staff"))
                        {
                            <li class="nav-item"><a class="nav-link" asp-area="Staff" asp-controller="Staff" asp-action="CameraScan">Scan Camera</a></li>
                        }


                    </ul>
                </div>

                <div class="d-flex">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    @* <!-- Floating Chat Icon --> *@
    @* <div id="chat-icon" class="chat-icon"> *@
    @*     <i class="fa-solid fa-comments"></i> *@
    @* </div> *@

    <!-- Chat Window (Hidden by Default) -->
    @* <partial name="_ChatPartial" /> *@

    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @* <script> *@
    @*     // Basic toggle for chat icon *@
    @*     document.getElementById('chat-icon').addEventListener('click', function() { *@
    @*         const chatContainer = document.querySelector('.chat-container'); *@
    @*         chatContainer.style.display = chatContainer.style.display === 'none' ? 'flex' : 'none'; *@
    @*     }); *@
    @* </script> *@

    <style>
        /* Floating Chat Icon */
        .chat-icon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            background-color: #007bff;
            color: white;
            border-radius: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

            .chat-icon:hover {
                background-color: #0056b3;
            }
    </style>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

